<h1>Obaveštenje o vašem zahtevu</h1>
<p>Status vašeg zahteva: <strong>{{status}}</strong></p>

{{#if comment}}
  <p>Napomena administratora: <em>{{comment}}</em></p>
{{/if}}

<p>Hvala što koristite naš sistem!</p>